/* AuthenticationPage.module.css */
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f4f7fa;
}

.card {
  background-color: white;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 400px;
  max-width: 100%;
}

.title {
  font-size: 24px;
  font-weight: bold;
  color: #333;
  text-align: center;
  margin-bottom: 15px;
}

.subtitle {
  font-size: 16px;
  color: #555;
  margin: 8px 0;
  text-align: center;
  margin-bottom: 20px; /* Increased margin-bottom for more space */
}

.radioGroup {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 20px;
  align-items: flex-start;
}

.radioGroup label {
  font-size: 16px;
  color: #333;
  display: flex;
  align-items: center;
}

.radioGroup input[type="radio"] {
  margin-right: 10px;
}

.inputContainer {
  margin-bottom: 20px;
}

.input {
  width: 100%;
  padding: 12px;
  margin-top: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
}

.input:focus {
  border-color: #007bff;
}

.button {
  width: 100%;
  padding: 12px;
  font-size: 16px;
  color: white;
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.button:hover {
  background-color: #0056b3;
}

.error {
  color: #e74c3c;
  font-size: 14px;
  text-align: center;
  margin-top: 10px;
}

input[type="button"] {
  cursor: pointer;
  background-color: #ddd;
  border: none;
  font-size: 16px;
}
